body {
	line-height: 1;
	background-color: #333333;
}

.main {
	background-color: white;
	width: 375px;
	height: 675px;
}

@media screen and (min-width: 700px) {
	.main {
		width: 675px;
		height: 375px;
	}
}

.kitty_face {
	margin-top: 10px;
	width: 375px;
	height: 250px;
	fill: white;
}

@media screen and (min-width: 700px) {
	.kitty_face {
		width: 365px;
	}
}

.kitty {
	width: 375px;
}

.colors {
	margin-top: 0;
	width: 375px;
	height: 105px;
	display: flex;
	align-items: center;
}

@media screen and (min-width: 700px) {
	.colors {
		position: absolute;
		top: 18px;
		left: 320px;
	}
}

.colors-text {
	margin-left: 16px;
}

@media screen and (min-width: 700px) {
	.colors-text {
		visibility: hidden;
	}
}

.colors_skinWhite {
	box-sizing: border-box;
	width: 60px;
	height: 58px;
	border: black 10px solid;
	border-radius: 50%;
	margin-left: 32px;
	background-color: white;
}

.colors_skinPink {
	box-sizing: border-box;
	width: 60px;
	height: 58px;
	border: black 10px solid;
	border-radius: 50%;
	margin-left: 32px;
	background-color: #D6B4C2;
}

@media screen and (min-width: 700px) {
	.colors_skinPink {
		margin-left: 42px;
	}
}

.colors_skinRed {
	box-sizing: border-box;
	width: 60px;
	height: 58px;
	border: black 10px solid;
	border-radius: 50%;
	margin-left: 32px;
	background-color: #CA8789;
}

@media screen and (min-width: 700px) {
	.colors_skinRed {
		margin-left: 42px;
	}
}

.bows-1row {
	margin: 16px 0 16px 0;
	width: 375px;
	height: 128px;
}

@media screen and (min-width: 700px) {
	.bows-1row {
		position: absolute;
		top: 100px;
		left: 325px;
	}
}

.bows_red {
	margin-left: 32px;
}

.bows_yellow {
	margin-left: 16px;
}

.bows_yellow-on {
	position: absolute;
	top: 35px;
	left: 41px;
	transform: rotate(129deg) scale(1.25);
}

.bows_yellow-on-2 {
	position: absolute;
	top: -85px;
	left: -290px;
	transform: rotate(129deg) scale(1.3);
}

.bows-2row {
	width: 375px;
	height: 122px;
	margin-bottom: 16px;
}

@media screen and (min-width: 700px) {
	.bows-2row {
		position: absolute;
		top: 245px;
		left: 325px;
	}
}

.bows_redCustom {
	margin-left: 32px;
	margin-right: 16px;
}

.bows_redCustom-on {
	position: relative;
	top: -503px;
	left: 17px;
	transform: rotate(129deg) scale(1.28);
}

.bows_redCustom-on-2 {
	position: relative;
	top: -223px;
	left: -295px;
	transform: rotate(129deg) scale(1.28);
}

.bows_pink {
	position: relative;
}

.bows_pink-on {
	position: absolute;
	top: -18px;
	left: 44px;
	transform: rotate(310deg);
	width: 162px;
	height: 194px;
}

.bows_pink-on-2 {
	position: absolute;
	top: -260px;
	left: -289px;
	transform: rotate(310deg);
	width: 162px;
	height: 194px;
}
